.about__selector--list {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-bottom: 2em;
  flex-wrap: nowrap;
}

.about__selector--list > button {
  color: var(--cold-white);
  font-size: 1.4em;
  white-space: nowrap;
}

.about__selector--list > button:hover {
  background-color: var(--main-hover);
  color: var(--main-color);
}

.about--selected {
  color: var(--main-color) !important;
  border: 0.1em solid var(--main-color) !important;
}

.about__wrapper,
.faq__wrapper,
.reviews__wrapper {
  display: none;
}

.about .about__wrapper,
.faq .faq__wrapper,
.reviews .reviews__wrapper {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  color: var(--cold-white);
}

.about__text--title,
.faq__text--title,
.reviews__text--title{
  font-size: 1.3em;
}

.about__text--info,
.faq__text--info,
.reviews__text--info {
  margin-top: 0.5em;
}

.faq__text{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.faq__qa > p{
  margin-top: .5em;
}


