* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Playfair Display", serif !important;
}

body {
  --main-color: #008dd3;
  --main-alter: #004c72;
  --main-hover: #0115586c;
  --secondary-color: #000518;
  /* --secondary-fade: #031355f0; */
  --secondary-fade: #08123bc6;
  /* --secondary-fade: #08123be0; */
  --cold-white: #e2e7eb;
  --accent-color: #fb9040;
  /* --main-color: #e1ba66;
  --main-alter: #ba995298;
  --main-hover: #4234163f;
  --secondary-color: #202020; */

  /* scrollbar-width: 0;
  -ms-overflow-style: none; */
  background-color: var(--secondary-color);
}

/* body::-webkit-scrollbar {
  display: none;
} */

#root {
  font-size: 10px;
}

.menuOpen #root {
  max-height: 100vh;
  overflow: hidden;
}

.container {
  height: 100%;
}

.top__container {
  padding-top: 6em;
  min-height: 100vh;
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: fit-content;
  margin: 2em auto;
  color: var(--cold-white);
  background-color: var(--secondary-fade);
  border-radius: 2em;
  position: relative;
}

.top__row {
  margin-top: 2em;
}

figure {
  display: flex;
  align-items: center;
  overflow: hidden;
}

img {
  width: 100%;
}

.title {
  color: var(--cold-white);
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cinzel Decorative", cursive !important;
  font-weight: 400;
}

p {
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-size: 0.75rem;
}

button {
  text-transform: inherit !important;
}

.car__background--desktop {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.car__background--desktop  > img {
  object-fit: contain;
  scale: .4;
  filter: blur(2px) opacity(.5);
}

.number {
  font-family: "Noto Serif Vithkuqi", serif !important;
}

.skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: #efefef;
  }

  50% {
    background-color: #dbdbdb;
  }

  100% {
    background-color: #efefef;
  }
}

.watermark{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  z-index: 100;
  pointer-events: none;
}

.watermark > h1{
  color: var(--cold-white);
  font-size: 5em;
  letter-spacing: .2em;
  white-space: nowrap;
  filter: opacity(.4);
}
