* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Playfair Display", serif !important;
}

body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  /* --main-color: #3b66d3;
  --main-alter: #3f5dd698;
  --main-hover: #4164e10e; */
  --main-color: #e1ba66;
  --main-alter: #ba995298;
  /* --main-hover: #e1ba660e; */
  --main-hover: #4234163f;
  --secondary-color: #202020;
  height: 300vh;
}

select {
  z-index: 10;
  position: fixed;
  top: 3em;
  left: 3em;
}

.container {
  height: 100%;
}

.top__container {
  padding-top: 6em;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

figure {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.car__background {
  position: fixed;
  align-items: normal;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  filter: brightness(1);
}

.translate__btns {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1em;
  gap: 1em;
  height: 6em;
  z-index: 10;
}

.translate__btns--phone {
  color: white;
  width: 0.5em;
  font-size: 1.5em;
  padding-top: 0 !important;
}

.translate__btns > button {
  color: white;
  height: 80%;
  padding: 0.3em 2em;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: inherit !important;
}

.translate__btns > button:hover {
  background-color: var(--main-alter);
  /* background-color: #ba995298; */
}

.translate__btns--phone {
  display: none !important;
}
