* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Playfair Display", serif !important;
}


body {
  background-color: #202020;
  /* --main-color: #3b66d3;
  --main-alter: #3f5dd698;
  --main-hover: #4164e10e; */
  --main-color: #e1ba66;
  --main-alter: #ba995298;
  /* --main-hover: #e1ba660e; */
  --main-hover: #4234163f;
  --secondary-color: #202020;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root{
  font-size: 10px;
  height: 300vh;
}

.menuOpen #root{
  max-height: 100vh;
  overflow: hidden;
}

select {
  z-index: 10;
  position: fixed;
  top: 3em;
  left: 3em;
}

.container {
  /* background-color: #242424ab; */
  height: 100%;
}

.top__container {
  padding-top: 6em;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

figure {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.car__background--desktop {
  display: none;
  position: fixed;
  align-items: normal;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.car__background--phone{
  position: fixed;
  align-items: normal;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
}



.number{
    font-family: "Noto Serif Vithkuqi", serif !important;
}
