.burger {
    position: fixed;
    right: -50%;
    width: 50%;
    height: 100vh;
    background-color:transparent;
    z-index: 20;
    transition: all 500ms ease;
}

.burger__half{
    position: fixed;
    left: -50%;
    width: 50%;
    height: 100vh;
    padding: 2em;
    background-color: #242424;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    transition: all 500ms ease;

}

.menuOpen .burger__half{
    left: 0;
}
.menuOpen .burger{
    right: 0;
}

.burger__half > .MuiSvgIcon-root{
    position: absolute;
    font-size: 3.5em;
    top: 1em;
    right: .5em;
    color: var(--main-color);
}

.burger__half > .burger__home--icon{
    width: fit-content;
    padding: 1em;
}

.burger__half > button {
    width: 100%;
    text-transform: inherit;
    font-size: 2em;
    padding: 1em 1.5em ;
    color: var(--main-color);
}
  