.carfocus__row{
    background-color: white;
    flex-direction: row;
    gap: 2em;
    position: relative;
}

.carfocus__backBtn{
    position: absolute !important;
    color: black !important;
    font-size: 1.2em !important;
    font-weight: 700 !important;
    top: 1em;
    left: 1em;
    text-transform: inherit !important;
}
.carfocus__backBtn:hover{
    background-color: var(--main-hover) !important;
}

.carfocus__backBtn > span > .MuiSvgIcon-root{
    font-size: 1.5em;
}

.carfocus__imgs--wrapper{
    flex: .65;
}

.carfocus__mainImage{
    width: 100%;
}



.carfocus__text--wrapper{
    margin-top: 1em;
    flex: .35;
}

.carfocus__text--wrapper > p {
    margin-top: 3em;
    text-align: justify;
    line-height: 1.75em;
}

