.carHighlights__row{
    max-width: 75%;
    gap: 2em;
}

.carHighlights__row > h1{
    text-align: center;
    font-size: 2em;
}

.carHighlights__body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.carHighlights__body > .thumbnail{
    width: 80%;
}
.carHighlights__body > .thumbnail > .thumbnail__wrapper{
    margin-bottom: .5em;
}