#Carrousel{
color: white;
display: flex;
align-items: center;
}

.carrousel-container{
    width: fit-content;
    height: 300px;
    margin: 10em auto;
}

#Carrousel > button {
    color: white;
}
#Carrousel > button > .MuiSvgIcon-root{
    font-size: 5em;
}

#Carrousel > div {
    
}
