#Carrousel{
color: white;
display: flex;
align-items: center;
}

.fleet__container{
   justify-content: center;
}

#Carrousel > button {
    color: white;
}
#Carrousel > button > .MuiSvgIcon-root{
    font-size: 5em;
}

#Carrousel > figure {
    width: 50%;
    aspect-ratio: 16 / 9 !important;
}
#Carrousel > figure > img {
    object-fit: contain;
}
