#thumbnail__container {
  margin-top: 2em;
  width: 100%;
}

#filter {
  appearance: none;
  width: 10em;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  font-weight: 700;
}

#filter:focus {
  outline: none;
}

.thumbnail__map {
  display: flex;
  gap: 1em;
}

.thumbnail {
  color: var(--cold-white);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 50%;
}

.thumbnail__wrapper {
  overflow: hidden;
  border-radius: 1em;
  background-color: var(--cold-white);
  width: 100%;
}

.thumbnail__wrapper > img {
  scale: 1.2;
  aspect-ratio: 16 / 10;
  object-fit: contain;
}

.thumbnail__info {
  margin: 0.25em 0 0 0.25em;
}

.thumbnail__wrapper--skeleton {
  aspect-ratio: 16 / 10;
  border-radius: 1em;
}

.thumbnail__title--skeleton {
  height: 1.5em;
  width: 30%;
  border-radius: 0.5em;
}

.thumbnail__price--skeleton {
  height: 1.17em;
  width: 45%;
  border-radius: 0.3em;
}
