.contact__row > h1 {
  color: var(--cold-white);
}

.contact__body {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 2em;
}

.contact__body > form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex: 0.65;
}

.form__header {
  display: flex;
  gap: 2em;
}

.form__item {
  flex: 0.5;
}

.form__message,
.form__item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  font-size: 1.25em;
  color: var(--cold-white);
}

input,                                            
textarea {
  font-size: 1.25em;
  color: var(--secondary-color);
  background-color: var(--cold-white);
  border: 0.2em solid transparent;
  outline: 0.2em solid transparent;
  border-radius: 0.5em;
  padding: 0.75em;
  width: 100%;
  transition: all 300ms ease;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--secondary-color);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-color);
}

::placeholder {
  color: var(--secondary-color);
}

input:focus-visible,
textarea:focus-visible {
  outline: 0.2em solid var(--main-color);
}

form > button {
  font-size: 2em !important;
  color: var(--cold-white) !important;
  padding: 0.5em 1em !important;
  margin: 0 auto !important;
  background-color: var(--main-hover) !important;
  border: 0.1em solid transparent !important;
  transition: all 300ms ease;
}

form > button:hover {
  background-color: var(--main-alter) !important;
  border: 0.1em solid var(--main-color) !important;
}

.contact__right {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.35;
  gap: 2em;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.contact__list > a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 2em;
  color: var(--cold-white);
  border: 0.1em solid transparent;
  transition: all 300ms ease;
}

.contact__list > a:hover {
  border: 0.1em solid var(--main-color);
  background-color: var(--main-hover);
}

.contact__list > a > h1 {
  font-size: 0.75em;
  margin: 0 0 0.1em 0.5em;
}

.contact__right > p {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

.instaBtn > .MuiSvgIcon-root {
  color: #bc249b;
}
.facebookBtn > .MuiSvgIcon-root {
  color: #4267b2;
}
.mailBtn > .MuiSvgIcon-root {
  color: #c63f32;
}
.whatsappBtn > .MuiSvgIcon-root {
  color:  #20a350;
}

.tiktokBtn > figure {
  scale: 0.8;
  filter: invert(1);
  width: 1em;
}
