.coverage__row{
    align-items: center;
}

.coverage__organizer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
}

.coverage__organizer{
    color: white;
}

.coverage__organizer > h1{
    letter-spacing: .05em;
}
.coverage__organizer > p{
    font-size: 1.2em;
    letter-spacing: .05em;
    line-height: 1.5em;
    text-align: justify;
}