nav,
.nav__logo--wrapper,
nav > h1,
.nav__list,
nav > .MuiSvgIcon-root {
  z-index: 10;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  gap: 3em;
  align-items: center;
  background-color: transparent;
  height: 6em;
  overflow: hidden;
}

nav > .MuiSvgIcon-root {
  color: white;
}

.nav__logo--wrapper {
  width: 6em;
  cursor: pointer;
}

nav > h1 {
  font-size: 1.75em;
  color: var(--main-color);
  text-align: center;
  line-height: .8em;
}


.nav__list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}

.nav__desktop{
  display: none;
}

.nav__list > button {
  color: white;
  text-transform: inherit;
  height: 100%;
  flex: 0.2;
  font-size: 1.3em;
  font-weight: 600;
}

.nav__list > button:hover {
  color: var(--main-color);
  background-color: var(--main-hover);
}

.nav__car {
  align-items: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6em;
  overflow: hidden;
}