@media screen and (max-width: 350px) {
  .landing__row {
    margin-top: 4em;
  }

  .landing__text--container > .landing__btn {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1000px) {
  #root {
    font-size: 14px;
  }

  p {
    font-size: 1.1rem;
  }

  .car__background--desktop {
    display: flex;
  }

  nav {
    gap: 1em;
  }

  nav > .MuiSvgIcon-root {
    display: none;
  }

  .nav__desktop {
    display: flex;
  }

  nav > h1 {
    font-size: 1.2em;
  }

  .nav__list > button > h1,
  .translate__btns > button > h1 {
    font-size: 1em;
  }

  .translate__btns--phone {
    display: none !important;
  }

  .translate__btns--desktop {
    display: flex !important;
  }

  .translate__btns > button {
    padding: 0em 1em;
  }

  .landing__container {
    align-items: center;
  }

  .landing__row {
    padding-top: 0;
    margin-top: 4em;
    margin-bottom: 5em;
    justify-content: center;
    background-color: transparent;
  }

  .landing__text--container {
    background-color: var(--secondary-fade);
    padding: 2em;
    border-radius: 1em;
    max-width: 45%;
    margin-left: auto;
  }

  .scroll__container {
    bottom: 0em;
  }

  .carHighlights__body {
    display: flex;
    gap: 2em;
  }

  .carHighlights__body > .thumbnail {
    width: calc((100% - 4em) / 3);
  }

  .services__body--text {
    flex: 0.7;
    justify-content: space-between;
  }

  .list__item--deco {
    width: 45%;
  }
  .services__body--list > div:hover .list__item--deco {
    width: 70%;
  }

  .services__body--imgs {
    display: flex;
    /* min-height: 1220px; */
  }

  .services__skeleton {
    display: flex;
  }

  .coverage__map--wrapper > iframe {
    aspect-ratio: 16 / 9;
  }

  .carfocus__row {
    flex-direction: row;
  }

  .carfocus__backBtn > p {
    margin-top: 0;
  }

  .thumbnail {
    width: calc((100% - 3em) / 4);
  }

  .contact__body {
    flex-direction: row;
  }

  .contact__body > form {
    flex: 1;
  }

  .about__selector--list {
    gap: 1em;
    flex-direction: row;
  }

  .about__selector--list > button {
    font-size: 1.4em;
    flex: 1;
  }
  .about__text--wrapperLeft,
  .faq__text--wrapperLeft,
  .reviews__text--wrapperLeft {
    flex: 0.6;
  }

  .about__img--wrapper,
  .faq__img--wrapper {
    display: flex;
    flex: 0.35;
  }

  .fares__organizer--name,
  .fares__organizer--hour,
  .fares__organizer--day,
  .fares__organizer--trip {
    border-right: 0.2em solid var(--main-color);
    flex: 0.2;
  }

  .fares__organizer--name {
    flex: 0.15;
  }
  .fares__organizer--day {
    flex: 0.325;
  }

  .fares__organizer--trip {
    border-right: none;
  }

  .fares__organizer--start,
  .faresmap__container > figure {
    display: flex;
  }

  .faresmap__container > div {
    flex: 0.2;
    border-right: 0.2em solid var(--main-color);
    padding: 1em 0.2em;
  }

  .faresmap__name {
    flex: 0.15 !important;
  }

  .faresmap__day {
    flex: 0.325 !important;
  }

  .faresmap__container > div > span {
    font-size: 1.25em;
  }

  .footer__text--container {
    flex-direction: row;
    align-items: flex-start;
    gap: 4em;
  }

  .footer__info--container {
    max-width: 40%;
  }

  .footer__title {
    text-align: start;
  }

  .vertical__img--wrapper,
  .vertical__skeleton {
    display: flex;
  }
}

@media screen and (min-width: 1400px) {
  nav {
    gap: 2em;
  }

  .nav__list > button > h1,
  .translate__btns > button > h1 {
    font-size: 1.2em;
  }
}
