.services__body {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

 .services__body--text {
  flex: 1;
   display: flex;
   flex-direction: column;
   gap: 2em;
  }

  .services__text--paragraph{
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .services__text--paragraph > p{
    margin: 0;
  }
  
  .services__body--text > h1 {
    text-align: center;
  }


.services__body--list {
  display: flex;
  height: 4em;
  gap: 2em;
}

.services__body--list > div {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  cursor: pointer;
}

.list__item--deco {
  position: absolute;
  bottom: 0;
  width: 60%;
  background-color: var(--main-alter);
  height: 0.2em;
  border-radius: 0.5em;
  transition: all 300ms ease;
}
.services__body--list > div:hover .list__item--deco {
  background-color: var(--accent-color);
  width: 90%;
}

.services__type--list{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.services__type--list > div {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.services__type--list > div > .MuiSvgIcon-root {
  margin-top: 0.2em;
  color: var(--main-color);
}

.services__body--imgs{
  display: none;
  flex: .3;
  flex-direction: column;
  gap: 2em;
}

.services__body--imgWrapper {
  display: flex;
  height: 50%;
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0.5em var(--main-alter);
}

.services__body--imgWrapper > img {
  height: 100%;
}

.services__skeleton {
  margin: 0;
  display: none;
  height: 50%;
  aspect-ratio: 9 / 16;
  border-radius: 1em;
}
