.services__body {
  display: flex;
  gap: 2em;
}

.services__text {
  font-size: 1.1em;
}

.services__body--list {
    margin-top: 1em;
  display: flex;
  flex: 1;
  gap: 2em;
}

.services__body--list > div {
    position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  cursor: pointer;
}

.list__item--deco{
    position: absolute;
    bottom: 0;
    width: 30%;
    background-color: var(--main-alter);
    height: .2em;
    border-radius: .5em;
    transition: all 300ms ease;
}
.services__body--list > div:hover .list__item--deco{
    background-color: var(--main-color);
    width: 45%;
}

.services__body--imgWrapper {
  max-width: 40%;
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0.5em var(--main-alter);
}
