.vertical__img--wrapper{
    display: none;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.5em var(--main-alter);
}

.vertical__img--wrapper > img{
    height: 100%;
}

.vertical__skeleton{
    display: none;
    margin: 0;
    aspect-ratio: 9 / 16;
    border-radius: 1em;
}

.servicesBody__img--skeleton{
    flex: none;
}

